@import "_custom-properties.css";

/*--------------------------------------------------------------
## Blocks
--------------------------------------------------------------*/

/*
 * Available block selectors:
 * .wp-block-image
 * .wp-block-media-text
 * .wp-block-gallery
 * .wp-block-audio
 * .wp-block-video
 * .wp-block-quote
 * .wp-block-cover
 * .wp-block-file
 * .wp-block-button
 * .wp-block-gallery
 * .wp-block-table
 * .wp-block-embed
 * .wp-block-audio
 * .wp-block-pullquote
 * .wp-block-preformatted
 * .wp-block-code
 * .wp-block-verse
 * .wp-block-table
 * .wp-block-separator
 * .wp-block-columns
 * .wp-block-column
 * .wp-block-latest-posts
 * .wp-block-categories
 * .wp-block-archives
 */

/*--------------------------------------------------------------
# Button Block - overrides core styles and provides variations
--------------------------------------------------------------*/

.wp-block-button__link {
	appearance: none;
	border: 0;
	border-radius: 3px;
	background: var(--color-theme-black);
	color: var(--color-theme-white);
	font-family: var(--highlight-font-family);
	font-size: var(--font-size-regular);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	cursor: pointer;
	text-decoration: none;
}

.wp-block-button__link:hover,
.wp-block-button__link:active,
.wp-block-button__link:focus {
	color: var(--color-theme-grey);
}

.wp-block-button.is-style-primary .wp-block-button__link {
	background: var(--color-theme-primary);
}

.wp-block-button.is-style-secondary .wp-block-button__link {
	background: var(--color-theme-secondary);
}

/*--------------------------------------------------------------
# Image Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-image figcaption {
	color: var(--global-font-color);
}

/*--------------------------------------------------------------
# Quote Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin: 1.5em auto;
	padding: 0 1em;
}

.entry-content > .wp-block-quote,
.entry-content > .wp-block-quote.is-style-large {
	margin-left: 1.5rem;
}

@media (--content-query) {

	.entry-content > .wp-block-quote,
	.entry-content > .wp-block-quote.is-style-large {
		margin-left: auto;
	}
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left-color: var(--highlight-font-color);
}

.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
	border-left-color: var(--global-border-color);
	color: var(--global-font-color);
}

/*--------------------------------------------------------------
# Quote Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-pullquote {
	border-top: 4px solid;
	border-bottom: 4px solid;
	border-color: var(--highlight-font-color);
	color: var(--global-font-color);

	& blockquote {
		border-left: 0;
	}
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
	color: var(--global-font-color);
}

/*--------------------------------------------------------------
# Cover Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-cover {
	display: flex;
	align-items: center;
}

.wp-block-cover__inner-container > * {
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
}

.wp-block-cover .wp-block-cover-text,
.wp-block-cover p {
	margin-top: 0;
}

/*--------------------------------------------------------------
# Separator Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-separator:not(.has-text-color):not(.has-background) {
	border-bottom-color: var(--global-border-color);
}

.wp-block-separator.is-style-dots:not(.has-text-color):not(.has-background)::before {
	color: var(--global-border-color);
}

/*--------------------------------------------------------------
# Table Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-table td,
.wp-block-table th {
	border: 1px solid;
	border-color: var(--global-border-color);
}

/*--------------------------------------------------------------
# Latest Posts/Comments Blocks - overrides core styles
--------------------------------------------------------------*/

.wp-block-latest-posts,
.wp-block-latest-comments {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid hsl(0, 0%, 80%);
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignfull {
	padding: 0 1.5em;
}

/*--------------------------------------------------------------
# Gallery Block - overrides core styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Gallery Block - overrides core styles
--------------------------------------------------------------*/

figure.wp-block-gallery {
	margin-right: auto;
	margin-left: auto;
}

.entry-content .blocks-gallery-grid {
	margin: 0;
	padding: 0;
}
